<!DOCTYPE html>
<!--Esta es mi primer pagina HTML-->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8"/>
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
           <aside>
            <h2>Venta Loca</h2>
            <p>Venga este fin de semana y adquiera pantallas TLC de 85"  230.000</p>
        </aside>
        <section>
             <h2>El producto mas vendido</h2>
             <p>En estos 15 dias, este es el producto mas vendido</p>
        </section>
        <footer>
             Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
